* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 2px 2px rgba(0, 0,0, 0.5);
}

.logo h1 {
    color: orangered;
}
.navbar-items ul {
    display: flex;
}

.navbar-items ul li {
    margin: 10px;
    list-style: none;
}

.main-container {
    padding: 10px;
}

.filter {
    padding: 10px;
    margin-bottom: 10px;
    background-color: beige;
}


.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.res-card {
    width: 200px;
    height: 300px;
    background-color: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-card  img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}